@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: radial-gradient(
      circle at 20% 20%,
      rgba(30, 64, 175, 0.15),
      transparent 40%
    ),
    radial-gradient(
      circle at 80% 80%,
      rgba(59, 130, 246, 0.1),
      transparent 40%
    ),
    #0b0f19;
}